@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);
@import "tailwindcss";
@theme {
  --font-Vazirmatn: "Vazirmatn", sans-serif;
}
body {
  background-color: #1c1b29;
}
.container {
  @apply max-w-[1220px] w-full m-auto px-5;
}
h2 {
  @apply text-2xl font-Vazirmatn font-bold;
}
h3 {
  @apply text-base font-Vazirmatn font-medium;
}
button {
  cursor: pointer;
}
